html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1 {
  margin: 0;
}

:focus {
  outline: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 1024px;
  min-height: 95vh;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.11);
}

.heading {
  margin-bottom: 29px;
  font-size: 44px;
  text-align: center;
  color: rgb(0, 0, 0);
}

.area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 300px;
  background-color: rgb(163, 170, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
}

.form-heading, .label {
  font-weight: bold;
  text-align: center;
  color: rgb(29, 19, 19);
}

.form-heading {
  font-size: 24px;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
}

.card-list {
  display: grid;
  gap: 25px;
  margin-bottom: 20px;
}

.game-select {
  margin-bottom: 15px;
  padding-left: 15px;
  height: 35px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507) inset;
}

.submit-button {
  margin-top: 15px;
  padding: 10px 5px 10px 5px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(111, 123, 245);
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all .2s ease;
}

.submit-button:hover {
  background-color: rgb(73, 87, 236);
}

.submit-button:active {
  transform: scale(0.96);
}

.card-list.max-width-10 {
  grid-template-columns: repeat(10, 1fr);
}

.card-list.max-width-8 {
  grid-template-columns: repeat(8, 1fr);
}

.card-list.max-width-6 {
  grid-template-columns: repeat(6, 1fr);
}

.card-list.max-width-4 {
  grid-template-columns: repeat(4, 1fr);
}

.card-list.max-width-2 {
  grid-template-columns: repeat(2, 1fr);
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  color: rgba(29, 19, 19, 0.404);
  background-color: rgb(163, 170, 255);
  border-radius: 10px;
  box-shadow: 2px 2px 6px black;
  cursor: pointer;
  transition: all .2s ease;
  transform-style: preserve-3d;
}

.card:hover {
  color: rgba(0, 0, 0, 0.39);
  background-color: rgb(127, 137, 247);
  box-shadow: 2px 2px 8px black;
}

.card:active {
  transform: scale(0.96);
}

.card-face {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}

.card-face.back {
  max-width: 100%;
  max-height: 100%;
  color: rgb(29, 19, 19);
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
  background-color: rgb(211, 215, 255);
  transition: transform .8s ease;
}

.card:hover.flip {
  background-color: rgb(211, 215, 255);
}

.card.disable-card {
  background-color: rgb(223, 225, 248);
}

.card:hover.disable-card {
  cursor: default;
  background-color: rgb(223, 225, 248);
  box-shadow: 2px 2px 6px black;
}

.card-img {
  width: 60px;
  height: 70px;
  object-fit: contain;
}

.restart-button {
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 10px;
  background: rgb(96, 118, 243);
  cursor: pointer;
  box-shadow: 2px 2px 6px black;
  transition: all .2s ease;
}

.restart-button:hover {
  background: rgb(63, 89, 236);
  box-shadow: 2px 2px 9px black;
}

.restart-button:active {
  transform: scale(0.96);
}

.timer {
  margin-bottom: 40px;
  font-size: 40px;
}